html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  color: #120e0e;
  margin: 0;
}

.title {
  font-family: "Rasa", serif;
  font-style: italic;
  margin: 0;
  padding: 0;
}

/*.site-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}*/
.site-header {
  border: 2px solid #4A8E16;
}
@media screen and (min-width: 1000px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    border: 0;
    align-items: flex-end;
    padding: 30px 50px;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__checkbox:checked ~ .menu__tabs {
  display: block;
  width: 100%;
}
.menu__toggler {
  cursor: pointer;
  float: right;
  position: relative;
  top: -50px;
}
@media screen and (min-width: 1000px) {
  .menu__toggler {
    display: none;
  }
}
.menu__tabs {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #4A8E16;
  text-transform: uppercase;
}
@media screen and (min-width: 1000px) {
  .menu__tabs {
    background-color: white;
    display: flex !important;
    gap: 15px;
  }
}
.menu__list {
  border-bottom: 1px solid #FFF4E5;
}
@media screen and (min-width: 1000px) {
  .menu__list {
    background-color: #4A8E16;
    border-bottom: 0;
    text-align: center;
    width: 135px;
    padding: 5px 15px;
    border-radius: 20px;
  }
  .menu__list:hover {
    background-color: #214C01;
  }
}
.menu__item {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}
.menu__item:hover {
  background-color: #214C01;
}
@media screen and (min-width: 1000px) {
  .menu__item {
    padding: 0;
  }
}

.hamburger-menu {
  max-width: 80px;
  width: 100%;
  position: relative;
}

.logo {
  max-width: 120px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 1000px) {
  .logo {
    display: block;
    max-width: 200px;
  }
}

/*bottom section and footer*/
.options {
  background-color: #4A8E16;
  color: white;
  padding: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer {
  background-color: #214C01;
  color: #120e0e;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.banner {
  display: none;
}
@media screen and (min-width: 1000px) {
  .banner {
    display: block;
    background-image: url("/Images/banner.jpg");
    background-size: cover;
    margin-bottom: 70px;
    grid-column: 1/8;
    grid-row: 1/2;
    height: 260px;
  }
}
.banner__title--big {
  position: relative;
  top: 132px;
  left: -10%;
  color: white;
  font-size: 64px;
  text-align: right;
  text-shadow: 0px 2px 2px #464545;
}

/*layout box with actualities and opening hours*/
.box-hours {
  color: white;
  background-color: #4A8E16;
  padding: 20px;
}
.box-hours__title--small {
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .box-hours {
    background-color: #4A8E16;
    position: relative;
    left: -115px;
    width: 240px;
    border-radius: 0 10% 0 0;
  }
}

.box-actualities {
  background-color: #F19838;
  text-align: center;
  padding: 20px;
  margin-bottom: 70px;
}
.box-actualities__title--small {
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .box-actualities {
    position: relative;
    left: -115px;
    bottom: -30px;
    width: 240px;
    border-radius: 0 0 10% 20%;
  }
}

.main-information {
  border: 5px solid #FFF4E5;
  padding: 0 20px;
  margin-bottom: 70px;
}
.main-information__title--medium {
  color: #214C01;
  font-size: 38px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}
@media screen and (min-width: 1000px) {
  .main-information {
    grid-column: 4/7;
    grid-row: 2/3;
    border: none;
    margin-top: 70px;
  }
}

.logo-small {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 30px;
  gap: 20px;
}
.logo-small__logo {
  width: 100%;
}

.Outside-photo__shop {
  max-width: 100%;
  margin-bottom: 70px;
}

.allergens-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
}

.allergens-icons__item {
  max-width: 100%;
  border: 1px solid #F19838;
  border-radius: 50%;
}

.brands {
  margin-bottom: 70px;
  padding: 0 20px;
}
.brands ::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #214C01;
  margin-bottom: 70px;
}

.section-logos {
  display: none;
}

/*Grid layout content*/
@media screen and (min-width: 1000px) {
  .site-layout {
    display: grid;
    grid-template-columns: 100px 180px 180px repeat(3, 1fr) 200px;
    grid-template-rows: 260px auto;
  }

  .container {
    grid-column: 3/7;
    grid-row: 2/3;
    border: 5px solid #FFF4E5;
    padding: 20px 20px 20px 0;
    margin-bottom: 70px;
    margin-top: 70px;
  }

  .Outside-photo {
    grid-column: 1/8;
    justify-self: center;
  }

  .Outside-photo__shop {
    padding: 0 60px;
    width: 100%;
  }

  .allergens-icons {
    grid-column: 3/7;
  }

  .allergens-icons__item {
    width: 90px;
    height: 90px;
    border: 2px solid #F19838;
  }

  .brands {
    grid-column: 3/7;
    padding: 0;
  }

  .section-logos {
    display: block;
    grid-column: 3/7;
    margin-bottom: 70px;
  }
}
/* PPL page and Zasilkovna page*/
.postal-service {
  margin: 0 20px;
}
@media screen and (min-width: 1000px) {
  .postal-service {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
.postal-service__content {
  margin-bottom: 70px;
}
@media screen and (min-width: 1000px) {
  .postal-service__content {
    flex-basis: 30%;
    background-color: #FFF4E5;
    padding: 0 20px 50px 50px;
    box-shadow: 2px 2px 4px #e7e7e7;
    border-radius: 5px 0 5px 40%;
  }
}
.postal-service__title--medium {
  color: #214C01;
  font-size: 38px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.postal-service__photo {
  max-width: 465px;
  margin-bottom: 70px;
}
.postal-service__photo--big {
  width: 100%;
}

.service-form {
  display: block;
  max-width: 200px;
  margin-left: 20px;
}
.service-form__input {
  border: 1px solid #777777;
  border-radius: 2px;
  padding: 5px;
}
.service-form__input:focus {
  outline: 0;
  border: 2px solid #F19838;
}
@media screen and (min-width: 1000px) {
  .service-form {
    margin: 0 auto;
  }
}

/*button*/
.input-button {
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #F19838;
  padding: 10px 15px;
  border: 1px solid #F19838;
  border-radius: 20px;
  margin-bottom: 70px;
  margin-top: 30px;
}
.input-button:hover, .input-button:focus {
  background-color: #F36900;
}
@media screen and (min-width: 1000px) {
  .input-button {
    margin-left: 10px;
  }
}

/*contact page with map*/
.main-information__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
}
.main-information__contact-address {
  margin: 0;
}

.main-information__title-contact--medium {
  margin-bottom: 15px;
  color: #214C01;
  font-size: 32px;
}

.contact-icons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 15px;
}

.contact-phone {
  text-decoration: none;
  color: #120e0e;
}

.contact-logo {
  height: 45px;
}

.google-map {
  grid-column: 1/8;
  height: 300px;
  width: 100%;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=style.css.map */