@use  "../scss/base/styles";
@use "../scss/base/basic";
@use "../scss/components/menu";
@use "../scss/components/site-bottom";
@use "../scss/components/banner";



//pc version - min 1000px, mobile version - max 999px


/*layout box with actualities and opening hours*/

.box-hours {
    color: white;
    background-color: styles.$c-primary;
    padding: 20px;

    &__title--small {
        font-size: 24px;
        text-align: center;
    }

    @media screen and (min-width: 1000px) {
        background-color: styles.$c-primary;
        position: relative;
        left: -115px;
        width: 240px;  
        border-radius: 0 10% 0 0;
    }
}

.box-actualities {
    background-color: styles.$c-special;
    text-align: center;
    padding: 20px;
    margin-bottom: styles.$spacer-bottom;

    &__title--small {
        font-size: 24px;
        text-align: center;
    }

    @media screen and (min-width: 1000px) {
        position: relative;
        left: -115px;
        bottom: -30px;
        width: 240px;
        border-radius: 0 0 20px 20px;
    }

}

.main-information {
    border: 5px solid styles.$c-border-box;
    padding: 0 20px;
    margin-bottom: styles.$spacer-bottom;

    &__title--medium {
        color: styles.$c-secondary;
        font-size: 38px;
        text-align: center; 
        margin-bottom: 30px;
        margin-top: 40px;
    }

    @media screen and(min-width: 1000px) {
        grid-column: 4 / 7;
        grid-row: 2 / 3;
        border: none;
        margin-top: styles.$spacer-bottom;
    }
}

.logo-small {
    display: flex;
    justify-content: center;
    margin-bottom: styles.$spacer-bottom;
    margin-top: 30px;
    gap: 20px;

    &__logo {
        width: 100%;
    }
}

.Outside-photo__shop {
    max-width: 100%;
    margin-bottom: styles.$spacer-bottom;
}

.allergens-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: styles.$spacer-bottom;
}

.allergens-icons__item {
    max-width: 100%;
    border: 1px solid styles.$c-special;
    border-radius: 50%; 
}

.brands {
    margin-bottom: styles.$spacer-bottom;
    padding: 0 20px;

    ::before {
        content: "";
        display: block;
        height: 2px;
        background-color: styles.$c-secondary;
        margin-bottom: styles.$spacer-bottom;
    }
}

.section-logos {
    display: none;
}


/*Grid layout content*/

@media screen and (min-width: 1000px) {
    .site-layout {
        display: grid;
        grid-template-columns: 100px 180px 180px repeat(3, 1fr) 200px;
        grid-template-rows: 260px auto;
    }

    .container {
        grid-column: 3 / 7;
        grid-row: 2 / 3;
        border: 5px solid styles.$c-border-box;
        padding: 20px 20px 20px 0;
        margin-bottom: styles.$spacer-bottom;
        margin-top: styles.$spacer-bottom;
    }

    .Outside-photo {
        grid-column: 1 / 8;
        justify-self: center;
    }

    .Outside-photo__shop {
        padding: 0 60px;
        width: 100%;
    }

    .allergens-icons {
        grid-column: 3 / 7;
    }

    .allergens-icons__item {
        width: 90px;
        height: 90px;
        border: 2px solid styles.$c-special;
    }

    .brands {
        grid-column: 3 / 7;
        padding: 0;
    }

    .section-logos {
        display: block;
        grid-column: 3 / 7;
        margin-bottom: styles.$spacer-bottom;
    }

}



/* PPL page and Zasilkovna page*/

.postal-service {
    margin: 0 20px;

    @media screen and (min-width: 1000px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:50px;
    }

    &__content {
        margin-bottom: styles.$spacer-bottom;

        @media screen and (min-width: 1000px) {
            flex-basis: 30%;
            background-color: styles.$c-border-box;
            padding: 0 20px 50px 50px;
            box-shadow: 2px 2px 4px #e7e7e7;
            border-radius: 5px 0 5px 40%;
            
        }

    }


    &__title--medium {
        color: styles.$c-secondary;
        font-size: 38px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

     
     &__photo {
     max-width: 465px;
     margin-bottom: styles.$spacer-bottom;
    } 

     &__photo--big {
         width: 100%;
     }

    
}


.service-form {
    display:block;
    max-width: 200px;
    margin-left: 20px;
    
    &__input {
        border: 1px solid #777777;
        border-radius: 2px;
        padding: 5px;

        &:focus {
            outline: 0;
            border: 2px solid styles.$c-special;
        }

    }

    @media screen and (min-width:1000px) {
        margin:0 auto;
    }
   
}

/*button*/

.input-button {
    cursor: pointer;
    display:block;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: styles.$c-special;
    padding: 10px 15px;
    border: 1px solid styles.$c-special;
    border-radius: 20px;
    margin-bottom: styles.$spacer-bottom;
    margin-top: 30px;

    &:hover,
    &:focus {
        background-color: #F36900;
    }

    @media screen and (min-width:1000px) {
        margin-left: 5px;
        
    }
}

/*contact page with map*/
.main-information__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding: 20px 0;

    &-address {
        margin: 0;
    }
}

.main-information__title-contact--medium {
    margin-bottom: 15px;
    color: styles.$c-secondary;
    font-size: 32px;
}

.contact-icons {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
}

.contact-phone {
    text-decoration: none;
    color: styles.$c-content;
    
}

.contact-logo {
    height: 45px;
}

.google-map {
    grid-column: 1 / 8;
    height: 300px;
    width: 100%;
    padding: 0;
    margin: 0;
}

