@use 'styles';
@use 'basic';
@use 'menu';

/*pc version - min 1000px
  mobile version - max 999px*/


/*menu*/

/*@media screen and (max-width: 999px) {
    .menu {
        display:flex;
        justify-content: space-between;
        height: 50px;
        padding: 15px;
        border: 2px solid $c-primary;
    }
}

@media screen and (min-width: 1000px) {
    .menu__mobile-logo {
        display: none;
    }
}*/



/*layout*/

.box-hours {
    color: white;
    background-color: styles.$c-primary;
    padding: 20px;

    &__title--small {
        font-size: 28px;
        text-align: center;
    }

    @media screen and (min-width: 1000px) {
        background-color: styles.$c-primary;
        position: relative;
        left: -115px;
        width: 240px;  
    }
}


.box-actualities {
    background-color: styles.$c-special;
    padding: 20px;
    margin-bottom: styles.$spacer-bottom;

    &__title--small {
        font-size: 28px;
        text-align: center;
    }

    @media screen and (min-width: 1000px) {
        position: relative;
        left: -115px;
        bottom: -30px;
        width: 240px;
    }

}

.main-information {
    border: 5px solid styles.$c-border-box;
    padding: 0 20px;
    margin-bottom: styles.$spacer-bottom;

    &__title--medium {
        color: styles.$c-secondary;
        font-size: 34px;
        text-align: center; 
        margin-bottom: 30px;
        margin-top: 40px;
    }

    @media screen and(min-width: 1000px) {
        grid-column: 4 / 7;
        grid-row: 2 / 3;
        border: none;
        margin-top: styles.$spacer-bottom;
    }
}

.logo-small {
    display: flex;
    justify-content: center;
    margin-bottom: styles.$spacer-bottom;
    margin-top: 30px;
    padding-left: 15px;

    &__logo {
        margin-right: 40px;
    }
}

.Outside-photo__shop {
    max-width: 100%;
    margin-bottom: styles.$spacer-bottom;
}

.allergens-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: styles.$spacer-bottom;
}

.allergens-icons__item {
    max-width: 100%;
    border: 2px solid styles.$c-special;
    border-radius: 50%; 
}

.brands {
    margin-bottom: styles.$spacer-bottom;
    padding: 0 20px;

    ::before {
        content: "";
        display: block;
        height: 2px;;
        background-color: styles.$c-secondary;
        margin-bottom: styles.$spacer-bottom;
    }
}

.section-logos {
    display: none;
}


/*Grid layout content*/

@media screen and (min-width: 1000px) {
    .site-layout {
        display: grid;
        grid-template-columns: 100px 180px 180px repeat(3, 1fr) 200px;
        grid-template-rows: 260px auto;
    }

    .container {
        grid-column: 3 / 7;
        grid-row: 2 / 3;
        border: 5px solid styles.$c-border-box;
        padding: 20px 20px 20px 0;
        margin-bottom: styles.$spacer-bottom;
        margin-top: styles.$spacer-bottom;
    }

    .Outside-photo {
        grid-column: 1 / 8;
        justify-self: center;
    }

    .Outside-photo__shop {
        padding: 0 60px;
        width: 100%;
    }

    .allergens-icons {
        grid-column: 3 / 7;
    }

    .allergens-icons__item {
        width: 120px;
        height: 120px;
        border: 2px solid styles.$c-special;
    }

    .brands {
        grid-column: 3 / 7;
        padding: 0;
    }

    .section-logos {
        display: block;
        grid-column: 3 / 7;
        margin-bottom: styles.$spacer-bottom;
    }

}






