<div class="box-actualities">
    <h3 class="title box-actualities__title--small">Aktuality</h3>
    <p class="box-actualities__content">Informace ohledně mimořádného uzavření prodejny nebo změn týkajících se otevírací doby</p>
</div>