<div class="box-actualities">
    <h3 class="title box-actualities__title--small">Aktuality</h3>
    <p class="box-actualities__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur est earum ea accusantium pariatur non</p>
</div>