 <div class="box-hours">

            <h3 class="title box-hours__title--small">Otevírací doba</h3>
            <div class="grid box-hours__content">
                <div class="grid__column-half box-hours__days">
                    <p>
                    Pondělí<br>
                    Úterý<br>
                    Středa<br>
                    Čtvrtek<br>
                    Pátek<br>
                    Sobota<br>
                    Neděle
                    </p>
                </div>

                <div class="grid__column-half box-hours__hours">
                    <p>
                    10:00-18:00<br>
                    10:00-18:00<br>
                    10:00-18:00<br>
                    10:00-18:00<br>
                    10:00-18:00<br>
                    Zavřeno<br>
                    Zavřeno
                    </p>
                </div>
            </div>
        </div>