@use "../base/styles";
@use "../base/basic";


.banner {
    display: none;

    @media screen and (min-width: 1000px) {
        display: block;
        background-image: url("/Images/banner.jpg");
        background-size: cover;
        margin-bottom: styles.$spacer-bottom;
        grid-column: 1 / 8;
        grid-row: 1 / 2;
        height: 260px;
        }

    &__title--big {
        position: relative;
        top: 132px;
        left: -10%;
        color: white;
        font-size: 64px;
        text-align: right;
        text-shadow: 0px 2px 2px #464545;
    }
}